<!DOCTYPE html>
<html lang="ja" style="box-sizing: border-box;">
<head style="box-sizing: border-box;">
    <meta charset="UTF-8" style="box-sizing: border-box;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" style="box-sizing: border-box;">
    <meta name="color-scheme" content="only" style="box-sizing: border-box;">
</head>
<body style="box-sizing: border-box;width: 100%;min-width: 600px;background-color: #54ace6;margin: 0;padding: 0;">
<center style="box-sizing: border-box;">
    <table id="wrapper" align="center" style="box-sizing: border-box;background-color: #54ace6;font-family: Verdana, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;width: 100%;min-width: 600px;height: 100%;margin: 0;padding: 0;">
        <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td align="center" style="box-sizing: border-box;padding: 10px;">
                <table id="main" border="0" cellpadding="0" cellspacing="0" style="box-sizing: border-box;background-color: white;text-align: center;max-width: 600px;">
                    <tbody style="box-sizing: border-box;">
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box;">
                            <h1 id="welcome" style="box-sizing: border-box;font-size: 80px;color: #636363;margin: 20px auto;">Welcome!</h1>
                        </td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box;">
                            <img id="welcome-image" src="cid:maneki_neko" style="box-sizing: border-box;width: 30%;">
                        </td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box;">
                            <p id="text" style="box-sizing: border-box;margin: 5% 10%;font-size: 14px;">Dinagon運営です。登録ありがとうございます。<br style="box-sizing: border-box;">ページに表示されている数字入力欄に以下の数字を入力してください</p>
                        </td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box;">
                            <h1 id="auth-number" style="box-sizing: border-box;font-size: 120px;margin: 5% auto;color: #e2bb91;">{{ auth_number }}</h1>
                        </td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box;">
                            <p id="info" style="box-sizing: border-box;text-align: left;color: #636363;margin: auto 10%;font-size: 12px;">コードは20分間有効です。<br style="box-sizing: border-box;">このメールに心当たりのない場合は、本メールを破棄してください。<br style="box-sizing: border-box;">※本メールの送信アドレスは自動送信専用です。</p>
                        </td>
                    </tr>
                    <tr style="box-sizing: border-box;">
                        <td style="box-sizing: border-box;">&nbsp;</td>
                    </tr>
                    <tr style="box-sizing: border-box;background-color: #fafafa;border-top: grey 3px;color: #656565;height: 3em;">
                        <td style="box-sizing: border-box;">
                            <div id="icon-attribute" style="box-sizing: border-box;text-align: right;font-size: 12px;padding-right: 11px;color: #636363;margin-left: 30%;">Icons made by <a href="" title="ultimatearm" style="box-sizing: border-box;text-decoration: none;color: cadetblue;">ultimatearm</a> from
                                <a href="https://www.flaticon.com/" title="Flaticon" style="box-sizing: border-box;text-decoration: none;color: cadetblue;">www.flaticon.com</a></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        
        
        </tbody>
    </table>
</center>

</body>
</html>